#Titulo {
	background-color: #e9b730;
	color: #000000;
	height: 80px;
	text-align: center;
	line-height: 80px;
	font-size: 30px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#imglogosenai{
	margin-top: 1.0em;
	text-align: center;
	margin-left: 29em;
}
body {
	background-image: linear-gradient(to right, #f0553a, #e0c31e);
}
#Menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 20%;
	font-size: 1.3em;
	justify-content: space-around;
}	
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.body-content {
	min-height: 100%;
	/* igual a altura do rodapé */
	margin-bottom: -60px; 
}
.body-content:after {
	content: "";
	display: block;
}
.site-footer, .page-wrap:after {
	height: 60px; 
}
.site-footer {
	background: #e9b730;
	color: rgb(0, 0, 0);
	padding-top: 15px;
    text-align: center;
}
.carousel-inner > .carousel-item > img {
	width: 800px;
	height: 500px; 
}
.paragrafo01 {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 25px;
	color: #FFF;
}
.paragrafo02 {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 25px;
	color: #FFF;
}
.paragrafo03 {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 25px;
	color: #FFF;
	text-align: center;
}
.GIF {
	margin-left: 30em;
	margin-top: -26em;
}
a:link {
	color:#FFF;
	text-decoration:none;
  }
  a:visited {
	color:#FFF;
	text-decoration:none;
  }
  a:hover {
	color:rgb(231, 200, 23);
  }
  a:active {
	color:#00ff00;
	text-decoration:underline;
	background-color:#d49828;
  }

