body {
	background-image: linear-gradient(to right, #f0553a, #e0c31e);
}
header{
    background-color: #e9b730;
}
#titulo{
    text-align: center;
    font-family: 'Comic Sans MS';
    font-size: 1.8em;
}
#conteudopagina{
    line-height: 15px;
}
#textp1{
    font-family: 'Comic Sans MS';
    font-size: 1.1em;
}
#textp2{
    font-family: 'Comic Sans MS';
    font-size: 1.1em;
}
.titos{
    font-size: 1.3em;
}
.textorigem{
    font-family: 'Comic Sans MS';
    font-size: 1.1em;
    text-align: justify;
}
.textorigemdia{
    font-family: 'Comic Sans MS';
    font-size: 1.1em;
    text-align: justify;
}
.texthistoriajoao{
    font-family: 'Comic Sans MS';
    font-size: 1.1em;
    text-align: justify;
}
.curiosidade1{
    font-family:Arial;
    font-size: 0.9em;
    text-align: justify;
}
#copy{
    padding-top: 40px;
    text-align: center;
    background-color: #e0c31e;
}
#imgsaojoao {
    margin-left: 33em;
}