body {
	background-image: linear-gradient(to right, #f0553a, #e0c31e);
}
#Menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 20%;
	font-size: 1.3em;
	justify-content: space-around;
}
header{
    background-color: #e9b730;
}
#titulo{
    text-align: center;
    font-family: 'Comic Sans MS';
    font-size: 1.8em;
    padding-top: 25px;
}
#conteudopagina{
    line-height: 15px;
}
#textp1{
    font-family: 'Comic Sans MS';
    font-size: 1.1em;
    padding-right: 5em;
    padding-left: 5em;
    line-height: 25px;
}
#textp2{
    font-family: 'Comic Sans MS';
    font-size: 1.1em;
    padding-right: 5em;
    padding-left: 5em;
    line-height: 25px;
}
.titos{
    font-size: 1.3em;
    padding-left: 5em;
}
.textorigem{
    font-family: 'Comic Sans MS';
    font-size: 1.1em;
    text-align: justify;
    padding-right: 5em;
    padding-left: 5em;
    line-height: 25px;
}
.textorigemdia{
    font-family: 'Comic Sans MS';
    font-size: 1.1em;
    text-align: justify;
    padding-right: 5em;
    padding-left: 5em;
    line-height: 25px;
}
.texthistoriajoao{
    font-family: 'Comic Sans MS';
    font-size: 1.1em;
    text-align: justify;
    padding-right: 5em;
    padding-left: 5em;
    line-height: 25px;
}
.curiosidade1{
    font-family:Arial;
    font-size: 0.9em;
    text-align: justify;
    font-weight: bold;
    line-height: 15px;
}
#copy{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 15px;
    background-color: #e0c31e;
}
#imgsaojoao {
    margin-left: 35.5em;
}
a:link {
	color:#FFF;
	text-decoration:none;
  }
  a:visited {
	color:#FFF;
	text-decoration:none;
  }
  a:hover {
	color:rgb(231, 200, 23);
  }
  a:active {
	color:#202ead;
	text-decoration:underline;
	background-color:#d49828;
  }
  #titosantojoao{
    padding-left: 27.7em;
  }
