body {
    background-image: linear-gradient(to right, #f0553a, #e0c31e);
    min-width: 320px;
    max-width: 2560px;
}
#navegacao{
    display: flex;
    width: 100%;
    font-size: 1.3em;
}
#cabecalho{
    background-color: #e9b730;
}
#titulo{
    background-color: #e9b730;
    font-size: 1.8em;
    font-family: 'Comic Sans MS';
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-weight: bold;

}
#textcuriosidade{
    font-family:Arial;
    font-size: 0.9em;
    text-align: justify;
    font-weight: bold;
}
.titos{
    text-align: center;
    font-size: 1.1em;
    line-height: 20px;
    font-family: 'Comic Sans MS';
}
.textparagrafo{
    font-size: 1.1em;
    line-height: 25px;
    text-align: justify;
    font-family: 'Comic Sans MS';
    padding-right: 5em;
    padding-left: 5em;
}
#copy{
    padding-top: 28px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #e9b730;
}
#fogueira{
    display: block;
    margin: auto;
}
a:link {
	color:#FFF;
	text-decoration:none;
  }
  a:visited {
	color:#FFF;
	text-decoration:none;
  }
  a:hover {
    color:rgb(25, 76, 185);
    }
  a:active {
	color:#202ead;
	text-decoration:underline;
	background-color:#d49828;
  }
  #linkhome{
    padding-left: 5px;
    padding-right: 5px;
  }
  #linkhistoria{
    padding-right: 5px;
  }

